# ------------------------
# Database
# ------------------------
POSTGRES_USER=
# Generate using `openssl rand -base64 18`
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
# ------------------------

# ------------------------
# Redis
# ------------------------
# Generate using `openssl rand -base64 24`
REDIS_PASSWORD=
# ------------------------

# ------------------------
# Kafka/Redpanda
# ------------------------
KAFKA_BROKERS=
REDPANDA_CONSOLE_PORT=
# ------------------------

# ------------------------
# Authula
# ------------------------
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"

WEBAPP_PORT="3001"
# ------------------------
